			.one{
				color: purple;
				font-style: bold;
				font-family: Comic Sans MS
			}
			.second{ 
				color: orange;
				font-style: bold;
				font-family: Comic Sans MS
			 }
			 #three{color: green;
			 	font-style: bold;
				font-family: Comic Sans MS
			 }
			 .four{color: red;
			 	font-style: bold;
				font-family: Comic Sans MS
			}